{% extends base_template %}
{% load static %}
{% block scriptHeader %}
    {{ block.super }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jsdiff/5.2.0/diff.js"></script>
{% endblock scriptHeader %}
{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "css/group.css" %}">
{% endblock styles %}
{% block content %}
    <div class="container">
        <form class="mt-5" method="post">
            {% csrf_token %}
            <button id="submitbtn" type="submit" class="btn btn-primary" disabled>Merge selected</button>
            <input type="hidden"
                   name="content_type"
                   value="{{ content_type.app_label }}.{{ content_type.model }}" />
            <input type="hidden" id="inputprimary" name="primary" />
            <div id="primarymsg">Select one option as the primary option</div>
            <div class="group-container">
                {% for object in object_list %}
                    <input class="checkbox"
                           type="checkbox"
                           id="to_merge_{{ object.pk }}"
                           name="to_merge"
                           value="{{ object.pk }}" />
                    <label id="label_{{ object.pk }}"
                           for="to_merge_{{ object.pk }}"
                           ondblclick="setPrimary({{ object.pk }})"
                           onmouseover="showPreview({{ object.pk }})">{{ object }} ({{ object.pk }})</label>
                    <div id="preview-{{ object.pk }}" class="preview">
                        <p class="str">{{ object }}</p>
                        <p class="dates">
                            {% if object.start_date_written %}
                                {{ object.start_date_written }}
                                {% if object.end_date_written %}-{% endif %}
                            {% endif %}
                            {% if object.end_date_written %}{{ object.end_date_written }}{% endif %}
                        </p>
                        <p class="notes">{% if object.notes %}{{ object.notes }}{% endif %}</p>
                        <p class="relations">
                            {% for rel in object.personinstitution_set.all %}{{ rel }}{% endfor %}
                            {% for rel in object.personplace_set.all %}{{ rel }}{% endfor %}
                        </p>
                    </div>
                {% endfor %}
            </div>
        </form>
        <div id="preview-area" class="row">
            <div id="primary-preview-area" class="col-sm preview-content"></div>
            <div id="current-preview-area" class="col-sm preview-content"></div>
        </div>
    </div>
{% endblock content %}
{% block scripts %}
    <script src="{% static "js/group.js" %}"></script>
{% endblock scripts %}
