.group-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1em;
    width: 100%;

    label {
        background: whitesmoke;
        padding: .8em;
        border-radius: .8em;
        text-align: center;
        transition-duration: .15s;
        cursor: pointer;
    }

    label:hover {
        background: #86b7fe;
    }

    input:checked+label {
        background: #ffc107;
    }

    input[type=checkbox] {
        display: none;
    }
}

.primary {
    border: 4px solid red !important;
}

.preview {
    display: none;
}

#preview-area {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 10em;
    background-color: #F5F5F5;
    border-top: 1px solid black;
    overflow: scroll;
}

.preview-content {
    border: 1px solid black;
}

.fundament-default-footer {
    margin-top: 40em !important;
}

.relations {
    white-space: pre;
}
